* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E5E5E5;
    font-family: Arial, Helvetica, sans-serif;
}

/* === Using CSS custom properties (variables) === */

:root {
    /* Color */
    --BLACK: #040522;
    --ASSENT: #E56117;
    --primare: #171FE5;
}

/* ==== New Arrival ==== */

.new_arrival_section {
    max-width: 1600px;
    width: 100%;
    background-color: antiquewhite;
    /* just for debugging */
    /* background-color: #fff; */
    padding: 120px 0;
    margin: 0 auto;
}

.new_arrival_container {
    max-width: 1176px;
    padding: 0 15px;
    margin: 0 auto;
}

.new_arrival_title {
    font-size: 44px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 70px;
    display: grid;
    place-content: center start;
}

.new_arrival_gallery_items {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
    justify-content: center;
}

.gallery_item {
    width: auto;
    height: auto;
}

.item_1 {
    grid-column: 1/2;
    grid-row: 1/3;
    width: auto;
    height: auto;
}

.item_2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.item_3 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.item_4 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.item_5 {
    grid-column: 3/4;
    grid-row: 2/3;
}

/* ==== Our Speciality ==== */

.our_speciality_section {
    max-width: 1600px;
    width: 100%;
    background-color: lightgoldenrodyellow;
    /* just for debugging */
    /* background-color: #fff; */
    padding: 100px 0;
    margin: 0 auto;
}

.our_speciality-container {
    max-width: 1176px;
    padding: 0 15px;
    margin: 0 auto;
    /* background-color: antiquewhite; */
    /* just for debugging */
}

.our_speciality_header {
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}

.our_speciality_title {
    place-self: center;
    color: var(--BLACK, rgba(4, 5, 34, 1));
    font-size: 44px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0em;
    text-align: center;
}

.our_speciality_text {
    place-self: center;
    color: var(--BLACK, rgba(4, 5, 34, 1));
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0;
    text-align: center;
    opacity: 0.7;
}

.our_speciality_cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 70px;
    flex-wrap: wrap;
}

.our_speciality_item {
    max-width: 362px;
    min-height: 223px;
    padding: 30px 42px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.05);
    background: rgba(255, 255, 255, 1);
}

.icon_wrapper {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: grid;
    place-items: center;
}

.image_bg {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: var(--primare);
    opacity: 0.1;
    grid-column: 1/1;
    grid-row: 1/1;
}

.image_1,
.image_2,
.image_3 {
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    grid-column: 1/1;
    grid-row: 1/1;
}

.image_1 {
    background-image: url("../img/speciality-1.svg");
}

.image_2 {
    background-image: url("../img/speciality-2.svg");
}

.image_3 {
    background-image: url("../img/speciality-3.svg");
}

.our_speciality_cards_title {
    padding-top: 20px;
    padding-bottom: 15px;
    color: var(--BLACK, rgba(4, 5, 34, 1));
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.our_speciality_cards_text {
    color: var(--BLACK, rgba(4, 5, 34, 1));
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center;
}

/* ====== Our Top Brand ====== */

.top_brand_section {
    max-width: 1600px;
    width: 100%;
    background: #fff;
    background: #ffebeb;
    padding: 120px 0;
    margin: 0 auto;
}

.top_brand_inner {
    min-height: 231px;
    background: rgb(229, 246, 251);
    display: grid;
    grid-template-rows: 1fr;
    place-items: center start;
}

.top_brand_container {
    max-width: 1176px;
    padding: 0 15px;
    margin: 0 auto;
    /* background-color: antiquewhite; */
}

.top_brand_header {
    display: grid;
    margin: 0 auto;
    place-items: center start;
    margin-bottom: 70px;
}

.top_brand_title {
    color: var(--BLACK, rgba(4, 5, 34, 1));
    font-size: 44px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0;
}

.top_brand_cards {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(1, auto);
    column-gap: 137px;
    row-gap: 20px;
}

.top_brand_item {}


/* ==== Recent Blog Posts ==== */

.blog_posts_section {
    max-width: 1600px;
    width: 100%;
    background: #fff;
    background: #e4ebfc;
    padding: 120px 0;
    margin: 0 auto;
}

.blog_posts_container {
    max-width: 1176px;
    padding: 0 15px;
    margin: 0 auto;
    /* background-color: antiquewhite; */
}

.blog_posts_header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center start;
    margin-bottom: 70px;
}

.blog_posts_header_title {
    color: var(--BLACK, rgba(4, 5, 34, 1));
    font-size: 44px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0;
}

.blog_posts_cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 70px;
    flex-wrap: wrap;
}

.blog_posts_item {
    max-width: 362px;
}

.blog_posts_img_1 {}

.blog_posts_img_2 {}

.blog_posts_img_3 {}

.post_article {
    padding: 25px;
}

.post_article_header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    place-items: center start;
    margin-bottom: 10px;
    color: var(--BLACK, rgba(4, 5, 34, 1));
    font-size: 22px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0;
    /* text-align: left; */
}

.post_article_text {
    color: var(--BLACK, rgba(4, 5, 34, 1));
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0;
    text-align: left;
}

.post_article_footer {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.post_article_footer_link {
    color: var(--ASSENT, rgba(229, 97, 23, 1));
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0;
    text-align: left;
    text-decoration: none;
}

.post_article_footer_time {
    color: var(--BLACK, rgba(4, 5, 34, 1));
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0;
    text-align: right;
}

/* ==== Media ===== */

@media screen and (max-width: 1440px) {

    /* New arrival */

    .new_arrival_gallery_items {
        display: grid;
        gap: 30px;
        justify-content: center;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
    }

    .item_1 {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .item_2 {
        grid-column: 2/3;
        grid-row: 1/2;

    }

    .item_3 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .item_4 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .item_5 {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .new_arrival_title {
        display: grid;
        place-content: center center;

    }

    /* Top brand */

    .top_brand_cards {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        column-gap: 160px;
        row-gap: 80px;
    }

    .top_brand_header {
        display: grid;
        margin: 0 auto;
        place-items: center center;
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 1180px) {

    /* ==== Our Speciality ==== */
    .our_speciality_text {
        max-width: 500px;
    }

    /* ==== Recent Blog Posts ==== */
    .blog_posts_header {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-items: center center;
        margin-bottom: 10px;
    }

    .new_arrival_title,
    .our_speciality_title,
    .top_brand_title,
    .blog_posts_header_title {
        font-size: 38px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {

    /* New arrival */

    .new_arrival_gallery_items {
        display: grid;
        gap: 30px;
        justify-content: center;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(6, auto);
    }

    .item_1 {
        grid-column: 1/1;
        grid-row: 1/3;
    }

    .item_2 {
        grid-column: 1/1;
        grid-row: 3/4;

    }

    .item_3 {
        grid-column: 1/1;
        grid-row: 4/5;
    }

    .item_4 {
        grid-column: 1/1;
        grid-row: 5/6;
    }

    .item_5 {
        grid-column: 1/1;
        grid-row: 6/7;
    }

    .new_arrival_title {
        display: grid;
        place-content: center center;
    }

    /* Our top brand */

    .top_brand_cards {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(4, auto);
    }
}

@media screen and (max-width: 402px) {

    /* New arrival */

    .new_arrival_title {
        margin-bottom: 30px;
    }

    .gallery_item img {
        width: 250px;
        height: auto;
    }

    .new_arrival_section,
    .our_speciality_section,
    .top_brand_section {
        padding: 30px 0;
    }

    /* Top brand */

    .top_brand_header {
        margin-bottom: 30px;
    }

    .top_brand_title {
        text-align: center;
    }

    /* Recent Blog Posts */

    .blog_posts_item img {
        display: block;
        margin: 0 auto;
        width: 250px;
        height: auto;
    }

    .blog_posts_section {
        padding: 60px 0;
    }

    .blog_posts_header {
        place-items: center center;
        margin-bottom: 10px;
        text-align: center;
    }

    .blog_posts_cards {
        padding-top: 30px;
    }

}